.footer
  .bar
  .sns
    = link_to "https://twitter.com/kaito93986081" do
      = fa_icon 'twitter-square'
    = link_to "https://github.com/kaitosuganoo0807" do
      = fa_icon 'github-square'
  .bar
  .last
    Copyright©Kaito Portfolio. All Rights Reserved.