%header
  %h1#logo
    = link_to root_path do
      = image_tag "/portfolio-logo.png",alt:"KAITOPORTFOLIO", class:"logo1"
  %nav
    %ul.cf
      %li.about Profile
      %li.works Wroks
      %li.contact Contact

